* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:root {
    --primary-color: #9E005D;
}
button{
    border: none;
}

img {
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
button{
    width: 75px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem;
    
}
.btn-primary{
    background: #FFEA05;
    border-radius: 4px;
    color: #9E005D;
    
}
@media screen and (min-width: 768px){
    button{
        width: 115px;
        padding: 0.8rem;
    }
}